.react-wheel {
  height: 250px;
  font-size: 22px;
  overflow-y: scroll;
}

.react-wheel a {
  text-decoration: none;
  color: #000;
}

.react-wheel .react-wheel-spoke {
  padding: 10px;
}

.react-wheel .react-wheel-spoke:hover {
    font-weight: bold;
}
